﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1382px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:757px;
}
#u120 {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:757px;
}
#u121 {
  position:absolute;
  left:2px;
  top:370px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u122 {
  position:absolute;
  left:274px;
  top:196px;
  width:111px;
  height:22px;
}
#u122_input {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u122_input:disabled {
  color:grayText;
}
