﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1382px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:91px;
}
#u1241 {
  position:absolute;
  left:249px;
  top:117px;
  width:362px;
  height:91px;
}
#u1242 {
  position:absolute;
  left:2px;
  top:38px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:207px;
}
#u1243 {
  position:absolute;
  left:265px;
  top:393px;
  width:1079px;
  height:207px;
}
#u1244 {
  position:absolute;
  left:2px;
  top:96px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:49px;
}
#u1245 {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:49px;
}
#u1246 {
  position:absolute;
  left:2px;
  top:16px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:717px;
}
#u1247 {
  position:absolute;
  left:0px;
  top:49px;
  width:249px;
  height:717px;
}
#u1248 {
  position:absolute;
  left:2px;
  top:350px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1249 {
  position:absolute;
  left:265px;
  top:76px;
  width:61px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1250 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:2px;
}
#u1251 {
  position:absolute;
  left:249px;
  top:106px;
  width:1133px;
  height:1px;
}
#u1252 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1253 {
  position:absolute;
  left:341px;
  top:77px;
  width:56px;
  height:16px;
  color:#0000FF;
}
#u1254 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u1255 {
  position:absolute;
  left:401px;
  top:82px;
  width:11px;
  height:8px;
}
#u1256 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1257 {
  position:absolute;
  left:1243px;
  top:76px;
  width:85px;
  height:20px;
  color:#0000FF;
}
#u1258 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1259_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1259 {
  position:absolute;
  left:284px;
  top:283px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1260 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1261_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u1261 {
  position:absolute;
  left:266px;
  top:323px;
  width:1079px;
  height:1px;
}
#u1262 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1263 {
  position:absolute;
  left:1135px;
  top:286px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u1264 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1265 {
  position:absolute;
  left:283px;
  top:352px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1266 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1267_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1267 {
  position:absolute;
  left:377px;
  top:352px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1268 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009588;
}
#u1269 {
  position:absolute;
  left:471px;
  top:352px;
  width:43px;
  height:20px;
  color:#009588;
}
#u1270 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1271_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1271 {
  position:absolute;
  left:598px;
  top:352px;
  width:43px;
  height:20px;
}
#u1272 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1273_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u1273 {
  position:absolute;
  left:266px;
  top:382px;
  width:1079px;
  height:1px;
}
#u1274 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1275_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:91px;
  height:6px;
}
#u1275 {
  position:absolute;
  left:449px;
  top:380px;
  width:88px;
  height:3px;
}
#u1276 {
  position:absolute;
  left:2px;
  top:-6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1277_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:33px;
}
#u1277 {
  position:absolute;
  left:944px;
  top:624px;
  width:383px;
  height:33px;
}
#u1278 {
  position:absolute;
  left:2px;
  top:8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1279_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1279 {
  position:absolute;
  left:283px;
  top:671px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1280 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1281_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u1281 {
  position:absolute;
  left:265px;
  top:711px;
  width:1079px;
  height:1px;
}
#u1282 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
}
#u1283 {
  position:absolute;
  left:1264px;
  top:334px;
  width:63px;
  height:38px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:11px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:169px;
}
#u1285 {
  position:absolute;
  left:266px;
  top:722px;
  width:1078px;
  height:169px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:76px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1287 {
  position:absolute;
  left:1270px;
  top:681px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1289_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1289 {
  position:absolute;
  left:1215px;
  top:399px;
  width:29px;
  height:20px;
}
#u1290 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:49px;
}
#u1291 {
  position:absolute;
  left:266px;
  top:212px;
  width:1078px;
  height:49px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:16px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:165px;
}
#u1293 {
  position:absolute;
  left:1197px;
  top:430px;
  width:63px;
  height:165px;
}
#u1294 {
  position:absolute;
  left:2px;
  top:74px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1295_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:164px;
}
#u1295 {
  position:absolute;
  left:1217px;
  top:431px;
  width:24px;
  height:164px;
}
#u1296 {
  position:absolute;
  left:2px;
  top:74px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:163px;
}
#u1297 {
  position:absolute;
  left:1251px;
  top:430px;
  width:30px;
  height:163px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:74px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1300 {
  position:absolute;
  left:326px;
  top:345px;
  width:15px;
  height:15px;
}
#u1301 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u1302 {
  position:absolute;
  left:329px;
  top:348px;
  width:9px;
  height:9px;
  font-size:8px;
  color:#FFFFFF;
}
#u1303 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1304 {
  position:absolute;
  left:1238px;
  top:286px;
  width:29px;
  height:20px;
  color:#0000FF;
}
#u1305 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
}
#u1306 {
  position:absolute;
  left:356px;
  top:281px;
  width:79px;
  height:27px;
}
#u1307 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
}
#u1308 {
  position:absolute;
  left:350px;
  top:667px;
  width:79px;
  height:27px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1310_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:164px;
}
#u1310 {
  position:absolute;
  left:1192px;
  top:428px;
  width:66px;
  height:164px;
}
#u1311 {
  position:absolute;
  left:2px;
  top:74px;
  width:62px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1312 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1313_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1313 {
  position:absolute;
  left:1219px;
  top:436px;
  width:21px;
  height:21px;
}
#u1314 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1315_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1315 {
  position:absolute;
  left:1219px;
  top:477px;
  width:21px;
  height:21px;
}
#u1316 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1317_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1317 {
  position:absolute;
  left:1219px;
  top:523px;
  width:21px;
  height:21px;
}
#u1318 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1319_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1319 {
  position:absolute;
  left:1219px;
  top:564px;
  width:21px;
  height:21px;
}
#u1320 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
