﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1411px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1381px;
  height:47px;
}
#u890 {
  position:absolute;
  left:0px;
  top:0px;
  width:1381px;
  height:47px;
}
#u891 {
  position:absolute;
  left:2px;
  top:16px;
  width:1377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u892 {
  position:absolute;
  left:31px;
  top:112px;
  width:20px;
  height:20px;
}
#u893 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:2px;
}
#u894 {
  position:absolute;
  left:0px;
  top:101px;
  width:1381px;
  height:1px;
}
#u895 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1377px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:647px;
}
#u896 {
  position:absolute;
  left:248px;
  top:47px;
  width:1px;
  height:646px;
}
#u897 {
  position:absolute;
  left:2px;
  top:315px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u898 {
  position:absolute;
  left:37px;
  top:64px;
  width:71px;
  height:21px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u899 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u900 {
  position:absolute;
  left:69px;
  top:112px;
  width:57px;
  height:20px;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u902 {
  position:absolute;
  left:69px;
  top:150px;
  width:18px;
  height:18px;
}
#u903 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u904 {
  position:absolute;
  left:97px;
  top:149px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u905 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u906 {
  position:absolute;
  left:69px;
  top:184px;
  width:18px;
  height:18px;
}
#u907 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u908 {
  position:absolute;
  left:97px;
  top:183px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u910 {
  position:absolute;
  left:69px;
  top:293px;
  width:18px;
  height:18px;
}
#u911 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u912 {
  position:absolute;
  left:69px;
  top:223px;
  width:57px;
  height:20px;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u914 {
  position:absolute;
  left:69px;
  top:259px;
  width:18px;
  height:18px;
}
#u915 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u916 {
  position:absolute;
  left:97px;
  top:258px;
  width:71px;
  height:20px;
}
#u917 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u918 {
  position:absolute;
  left:31px;
  top:223px;
  width:20px;
  height:20px;
}
#u919 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u920 {
  position:absolute;
  left:97px;
  top:292px;
  width:85px;
  height:20px;
}
#u921 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u922 {
  position:absolute;
  left:69px;
  top:330px;
  width:18px;
  height:18px;
}
#u923 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u924 {
  position:absolute;
  left:97px;
  top:329px;
  width:57px;
  height:20px;
}
#u925 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u926 {
  position:absolute;
  left:31px;
  top:375px;
  width:20px;
  height:20px;
}
#u927 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009588;
}
#u928 {
  position:absolute;
  left:69px;
  top:375px;
  width:99px;
  height:20px;
  color:#009588;
}
#u929 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u930 {
  position:absolute;
  left:292px;
  top:135px;
  width:91px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:292px;
  top:170px;
  width:85px;
  height:20px;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1004px;
  height:2px;
}
#u934 {
  position:absolute;
  left:292px;
  top:223px;
  width:1003px;
  height:1px;
}
#u935 {
  position:absolute;
  left:2px;
  top:-8px;
  width:999px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
  background:inherit;
  background-color:rgba(0, 149, 136, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u936 {
  position:absolute;
  left:722px;
  top:659px;
  width:94px;
  height:34px;
}
#u937 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u938 {
  position:absolute;
  left:746px;
  top:666px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u939 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u940 {
  position:absolute;
  left:330px;
  top:250px;
  width:22px;
  height:22px;
}
#u941 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u942 {
  position:absolute;
  left:292px;
  top:292px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u943 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u944 {
  position:absolute;
  left:581px;
  top:250px;
  width:22px;
  height:22px;
}
#u945 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:139px;
  height:5px;
}
#u946 {
  position:absolute;
  left:404px;
  top:261px;
  width:136px;
  height:2px;
}
#u947 {
  position:absolute;
  left:2px;
  top:-7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u948 {
  position:absolute;
  left:543px;
  top:292px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u949 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u950 {
  position:absolute;
  left:1039px;
  top:251px;
  width:22px;
  height:22px;
}
#u951 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:143px;
  height:5px;
}
#u952 {
  position:absolute;
  left:640px;
  top:262px;
  width:140px;
  height:2px;
}
#u953 {
  position:absolute;
  left:2px;
  top:-7px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u954 {
  position:absolute;
  left:1029px;
  top:292px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u955 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u956 {
  position:absolute;
  left:826px;
  top:250px;
  width:22px;
  height:22px;
}
#u957 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:139px;
  height:5px;
}
#u958 {
  position:absolute;
  left:878px;
  top:260px;
  width:136px;
  height:2px;
}
#u959 {
  position:absolute;
  left:2px;
  top:-7px;
  width:132px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u960 {
  position:absolute;
  left:802px;
  top:292px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u962 {
  position:absolute;
  left:69px;
  top:437px;
  width:18px;
  height:18px;
}
#u963 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u964 {
  position:absolute;
  left:69px;
  top:465px;
  width:18px;
  height:18px;
}
#u965 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u966 {
  position:absolute;
  left:69px;
  top:409px;
  width:18px;
  height:18px;
}
#u967 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u968 {
  position:absolute;
  left:97px;
  top:408px;
  width:71px;
  height:20px;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009588;
}
#u970 {
  position:absolute;
  left:97px;
  top:436px;
  width:71px;
  height:20px;
  color:#009588;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u972 {
  position:absolute;
  left:97px;
  top:466px;
  width:99px;
  height:20px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u974 {
  position:absolute;
  left:292px;
  top:384px;
  width:1124px;
  height:95px;
}
#u975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
}
#u975 {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
}
#u976 {
  position:absolute;
  left:2px;
  top:6px;
  width:366px;
  word-wrap:break-word;
}
#u977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:30px;
}
#u977 {
  position:absolute;
  left:370px;
  top:0px;
  width:376px;
  height:30px;
}
#u978 {
  position:absolute;
  left:2px;
  top:6px;
  width:372px;
  word-wrap:break-word;
}
#u979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:30px;
}
#u979 {
  position:absolute;
  left:746px;
  top:0px;
  width:373px;
  height:30px;
}
#u980 {
  position:absolute;
  left:2px;
  top:6px;
  width:369px;
  word-wrap:break-word;
}
#u981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
}
#u981 {
  position:absolute;
  left:0px;
  top:30px;
  width:370px;
  height:30px;
}
#u982 {
  position:absolute;
  left:2px;
  top:7px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:30px;
}
#u983 {
  position:absolute;
  left:370px;
  top:30px;
  width:376px;
  height:30px;
}
#u984 {
  position:absolute;
  left:2px;
  top:7px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:30px;
}
#u985 {
  position:absolute;
  left:746px;
  top:30px;
  width:373px;
  height:30px;
}
#u986 {
  position:absolute;
  left:2px;
  top:7px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:370px;
  height:30px;
}
#u987 {
  position:absolute;
  left:0px;
  top:60px;
  width:370px;
  height:30px;
}
#u988 {
  position:absolute;
  left:2px;
  top:7px;
  width:366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:30px;
}
#u989 {
  position:absolute;
  left:370px;
  top:60px;
  width:376px;
  height:30px;
}
#u990 {
  position:absolute;
  left:2px;
  top:7px;
  width:372px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:30px;
}
#u991 {
  position:absolute;
  left:746px;
  top:60px;
  width:373px;
  height:30px;
}
#u992 {
  position:absolute;
  left:2px;
  top:7px;
  width:369px;
  visibility:hidden;
  word-wrap:break-word;
}
#u993 {
  position:absolute;
  left:298px;
  top:419px;
  width:358px;
  height:22px;
}
#u993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u994 {
  position:absolute;
  left:670px;
  top:419px;
  width:358px;
  height:22px;
}
#u994_input {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u995 {
  position:absolute;
  left:297px;
  top:448px;
  width:358px;
  height:22px;
}
#u995_input {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u996 {
  position:absolute;
  left:669px;
  top:449px;
  width:358px;
  height:22px;
}
#u996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u997 {
  position:absolute;
  left:1042px;
  top:419px;
  width:358px;
  height:22px;
}
#u997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u998 {
  position:absolute;
  left:1041px;
  top:448px;
  width:358px;
  height:22px;
}
#u998_input {
  position:absolute;
  left:0px;
  top:0px;
  width:358px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u999 {
  position:absolute;
  left:292px;
  top:328px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1000 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1001 {
  position:absolute;
  left:377px;
  top:326px;
  width:129px;
  height:25px;
}
#u1001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
