﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1708px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:91px;
}
#u884 {
  position:absolute;
  left:249px;
  top:117px;
  width:362px;
  height:91px;
}
#u885 {
  position:absolute;
  left:2px;
  top:38px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:207px;
}
#u886 {
  position:absolute;
  left:265px;
  top:390px;
  width:1079px;
  height:207px;
}
#u887 {
  position:absolute;
  left:2px;
  top:96px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:49px;
}
#u888 {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:49px;
}
#u889 {
  position:absolute;
  left:2px;
  top:16px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:717px;
}
#u890 {
  position:absolute;
  left:0px;
  top:49px;
  width:249px;
  height:717px;
}
#u891 {
  position:absolute;
  left:2px;
  top:350px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u892 {
  position:absolute;
  left:265px;
  top:76px;
  width:61px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u893 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:2px;
}
#u894 {
  position:absolute;
  left:249px;
  top:106px;
  width:1133px;
  height:1px;
}
#u895 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u896 {
  position:absolute;
  left:341px;
  top:77px;
  width:56px;
  height:16px;
  color:#0000FF;
}
#u897 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u898 {
  position:absolute;
  left:401px;
  top:82px;
  width:11px;
  height:8px;
}
#u899 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u900 {
  position:absolute;
  left:1243px;
  top:76px;
  width:85px;
  height:20px;
  color:#0000FF;
}
#u901 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u902 {
  position:absolute;
  left:284px;
  top:280px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u903 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u904 {
  position:absolute;
  left:266px;
  top:320px;
  width:1079px;
  height:1px;
}
#u905 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u906 {
  position:absolute;
  left:1135px;
  top:283px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u907 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u908 {
  position:absolute;
  left:1238px;
  top:283px;
  width:100px;
  height:20px;
  color:#0000FF;
}
#u909 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u910_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009588;
}
#u910 {
  position:absolute;
  left:283px;
  top:349px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#009588;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u912 {
  position:absolute;
  left:377px;
  top:349px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u913 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u914 {
  position:absolute;
  left:471px;
  top:349px;
  width:43px;
  height:20px;
}
#u915 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u916 {
  position:absolute;
  left:266px;
  top:379px;
  width:1079px;
  height:1px;
}
#u917 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:91px;
  height:6px;
}
#u918 {
  position:absolute;
  left:266px;
  top:377px;
  width:88px;
  height:3px;
}
#u919 {
  position:absolute;
  left:2px;
  top:-6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:33px;
}
#u920 {
  position:absolute;
  left:944px;
  top:621px;
  width:383px;
  height:33px;
}
#u921 {
  position:absolute;
  left:2px;
  top:8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u922 {
  position:absolute;
  left:283px;
  top:668px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u924 {
  position:absolute;
  left:265px;
  top:708px;
  width:1079px;
  height:1px;
}
#u925 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
}
#u926 {
  position:absolute;
  left:1264px;
  top:331px;
  width:63px;
  height:38px;
}
#u927 {
  position:absolute;
  left:2px;
  top:11px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:169px;
}
#u928 {
  position:absolute;
  left:266px;
  top:719px;
  width:1078px;
  height:169px;
}
#u929 {
  position:absolute;
  left:2px;
  top:76px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u930 {
  position:absolute;
  left:1270px;
  top:678px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u931 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u932 {
  position:absolute;
  left:1215px;
  top:396px;
  width:29px;
  height:20px;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:49px;
}
#u934 {
  position:absolute;
  left:266px;
  top:209px;
  width:1078px;
  height:49px;
}
#u935 {
  position:absolute;
  left:2px;
  top:16px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:164px;
}
#u936 {
  position:absolute;
  left:1209px;
  top:427px;
  width:43px;
  height:164px;
}
#u937 {
  position:absolute;
  left:2px;
  top:74px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u939 {
  position:absolute;
  left:411px;
  top:342px;
  width:15px;
  height:15px;
}
#u940 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u941 {
  position:absolute;
  left:414px;
  top:345px;
  width:9px;
  height:9px;
  font-size:8px;
  color:#FFFFFF;
}
#u942 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
}
#u943 {
  position:absolute;
  left:356px;
  top:281px;
  width:79px;
  height:27px;
}
#u944 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
}
#u945 {
  position:absolute;
  left:350px;
  top:667px;
  width:79px;
  height:27px;
}
#u946 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.00784313725490196);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  position:absolute;
  left:267px;
  top:322px;
  width:467px;
  height:59px;
}
#u948 {
  position:absolute;
  left:2px;
  top:22px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u949 {
  position:absolute;
  left:1371px;
  top:337px;
  width:337px;
  height:60px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u950 {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  white-space:nowrap;
}
#u951 {
  position:absolute;
  left:734px;
  top:352px;
  width:0px;
  height:0px;
}
#u951_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:474px;
  height:8px;
}
#u951_seg1 {
  position:absolute;
  left:466px;
  top:-4px;
  width:8px;
  height:23px;
}
#u951_seg2 {
  position:absolute;
  left:466px;
  top:11px;
  width:171px;
  height:8px;
}
#u951_seg3 {
  position:absolute;
  left:617px;
  top:5px;
  width:21px;
  height:20px;
}
#u952 {
  position:absolute;
  left:276px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
