﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1382px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:91px;
}
#u1020 {
  position:absolute;
  left:249px;
  top:117px;
  width:362px;
  height:91px;
}
#u1021 {
  position:absolute;
  left:2px;
  top:38px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1079px;
  height:207px;
}
#u1022 {
  position:absolute;
  left:265px;
  top:395px;
  width:1079px;
  height:207px;
}
#u1023 {
  position:absolute;
  left:2px;
  top:96px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:49px;
}
#u1024 {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:49px;
}
#u1025 {
  position:absolute;
  left:2px;
  top:16px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:717px;
}
#u1026 {
  position:absolute;
  left:0px;
  top:49px;
  width:249px;
  height:717px;
}
#u1027 {
  position:absolute;
  left:2px;
  top:350px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1028_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1028 {
  position:absolute;
  left:265px;
  top:76px;
  width:61px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1029 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u1030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:2px;
}
#u1030 {
  position:absolute;
  left:249px;
  top:106px;
  width:1133px;
  height:1px;
}
#u1031 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1032 {
  position:absolute;
  left:341px;
  top:77px;
  width:56px;
  height:16px;
  color:#0000FF;
}
#u1033 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u1034 {
  position:absolute;
  left:401px;
  top:82px;
  width:11px;
  height:8px;
}
#u1035 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1036 {
  position:absolute;
  left:1243px;
  top:76px;
  width:85px;
  height:20px;
  color:#0000FF;
}
#u1037 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1038 {
  position:absolute;
  left:284px;
  top:285px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1039 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u1040 {
  position:absolute;
  left:266px;
  top:325px;
  width:1079px;
  height:1px;
}
#u1041 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1042 {
  position:absolute;
  left:1135px;
  top:288px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u1043 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1044 {
  position:absolute;
  left:1238px;
  top:288px;
  width:100px;
  height:20px;
  color:#0000FF;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u1046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1046 {
  position:absolute;
  left:283px;
  top:354px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1048 {
  position:absolute;
  left:377px;
  top:354px;
  width:43px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009588;
}
#u1050 {
  position:absolute;
  left:471px;
  top:354px;
  width:43px;
  height:20px;
  color:#009588;
}
#u1051 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u1052 {
  position:absolute;
  left:266px;
  top:384px;
  width:1079px;
  height:1px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:91px;
  height:6px;
}
#u1054 {
  position:absolute;
  left:449px;
  top:382px;
  width:88px;
  height:3px;
}
#u1055 {
  position:absolute;
  left:2px;
  top:-6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:33px;
}
#u1056 {
  position:absolute;
  left:944px;
  top:626px;
  width:383px;
  height:33px;
}
#u1057 {
  position:absolute;
  left:2px;
  top:8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1058 {
  position:absolute;
  left:283px;
  top:673px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u1059 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u1060 {
  position:absolute;
  left:265px;
  top:713px;
  width:1079px;
  height:1px;
}
#u1061 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
}
#u1062 {
  position:absolute;
  left:1264px;
  top:336px;
  width:63px;
  height:38px;
}
#u1063 {
  position:absolute;
  left:2px;
  top:11px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:169px;
}
#u1064 {
  position:absolute;
  left:266px;
  top:724px;
  width:1078px;
  height:169px;
}
#u1065 {
  position:absolute;
  left:2px;
  top:76px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u1066 {
  position:absolute;
  left:1270px;
  top:683px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u1067 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1068 {
  position:absolute;
  left:1215px;
  top:401px;
  width:29px;
  height:20px;
}
#u1069 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:49px;
}
#u1070 {
  position:absolute;
  left:266px;
  top:214px;
  width:1078px;
  height:49px;
}
#u1071 {
  position:absolute;
  left:2px;
  top:16px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:165px;
}
#u1072 {
  position:absolute;
  left:1197px;
  top:432px;
  width:63px;
  height:165px;
}
#u1073 {
  position:absolute;
  left:2px;
  top:74px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:163px;
}
#u1074 {
  position:absolute;
  left:1189px;
  top:433px;
  width:25px;
  height:163px;
}
#u1075 {
  position:absolute;
  left:2px;
  top:74px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:163px;
}
#u1076 {
  position:absolute;
  left:1254px;
  top:432px;
  width:30px;
  height:163px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:74px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1078 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u1079 {
  position:absolute;
  left:411px;
  top:347px;
  width:15px;
  height:15px;
}
#u1080 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u1081 {
  position:absolute;
  left:414px;
  top:350px;
  width:9px;
  height:9px;
  font-size:8px;
  color:#FFFFFF;
}
#u1082 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u1083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
}
#u1083 {
  position:absolute;
  left:356px;
  top:281px;
  width:79px;
  height:27px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1085_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
}
#u1085 {
  position:absolute;
  left:350px;
  top:667px;
  width:79px;
  height:27px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
