﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1715px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1116px;
  height:56px;
}
#u0 {
  position:absolute;
  left:245px;
  top:209px;
  width:1116px;
  height:56px;
}
#u1 {
  position:absolute;
  left:2px;
  top:20px;
  width:1112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:49px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:49px;
}
#u3 {
  position:absolute;
  left:2px;
  top:16px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:717px;
}
#u4 {
  position:absolute;
  left:0px;
  top:49px;
  width:249px;
  height:717px;
}
#u5 {
  position:absolute;
  left:2px;
  top:350px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:265px;
  top:76px;
  width:61px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1134px;
  height:2px;
}
#u8 {
  position:absolute;
  left:249px;
  top:106px;
  width:1133px;
  height:1px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1129px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u10 {
  position:absolute;
  left:341px;
  top:77px;
  width:56px;
  height:16px;
  color:#0000FF;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:8px;
}
#u12 {
  position:absolute;
  left:401px;
  top:82px;
  width:11px;
  height:8px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-4px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u14 {
  position:absolute;
  left:1243px;
  top:76px;
  width:85px;
  height:20px;
  color:#0000FF;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u16 {
  position:absolute;
  left:285px;
  top:296px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u18 {
  position:absolute;
  left:267px;
  top:336px;
  width:1079px;
  height:1px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u20 {
  position:absolute;
  left:1136px;
  top:299px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u22 {
  position:absolute;
  left:1239px;
  top:299px;
  width:94px;
  height:20px;
  color:#0000FF;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#009588;
}
#u24 {
  position:absolute;
  left:284px;
  top:365px;
  width:43px;
  height:20px;
  color:#009588;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:378px;
  top:365px;
  width:43px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u28_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u28 {
  position:absolute;
  left:472px;
  top:365px;
  width:71px;
  height:20px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u30_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u30 {
  position:absolute;
  left:599px;
  top:365px;
  width:57px;
  height:20px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u32 {
  position:absolute;
  left:267px;
  top:395px;
  width:1079px;
  height:1px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:91px;
  height:6px;
}
#u34 {
  position:absolute;
  left:267px;
  top:393px;
  width:88px;
  height:3px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-6px;
  width:84px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:461px;
}
#u36 {
  position:absolute;
  left:268px;
  top:406px;
  width:1078px;
  height:461px;
}
#u37 {
  position:absolute;
  left:2px;
  top:222px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:383px;
  height:33px;
}
#u38 {
  position:absolute;
  left:950px;
  top:877px;
  width:383px;
  height:33px;
}
#u39 {
  position:absolute;
  left:2px;
  top:8px;
  width:379px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u40 {
  position:absolute;
  left:284px;
  top:944px;
  width:55px;
  height:25px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:2px;
}
#u42 {
  position:absolute;
  left:266px;
  top:984px;
  width:1079px;
  height:1px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1075px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:38px;
}
#u44 {
  position:absolute;
  left:1265px;
  top:347px;
  width:63px;
  height:38px;
}
#u45 {
  position:absolute;
  left:2px;
  top:11px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:169px;
}
#u46 {
  position:absolute;
  left:267px;
  top:995px;
  width:1078px;
  height:169px;
}
#u47 {
  position:absolute;
  left:2px;
  top:76px;
  width:1074px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0000FF;
}
#u48 {
  position:absolute;
  left:1271px;
  top:954px;
  width:57px;
  height:20px;
  color:#0000FF;
}
#u49 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u50_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u50 {
  position:absolute;
  left:1216px;
  top:412px;
  width:29px;
  height:20px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u52 {
  position:absolute;
  left:46px;
  top:106px;
  visibility:hidden;
}
#u52_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u52_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:305px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:305px;
}
#u54 {
  position:absolute;
  left:2px;
  top:144px;
  width:195px;
  visibility:hidden;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u56 {
  position:absolute;
  left:327px;
  top:358px;
  width:15px;
  height:15px;
}
#u57 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u58 {
  position:absolute;
  left:330px;
  top:361px;
  width:9px;
  height:9px;
  font-size:8px;
  color:#FFFFFF;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u61 {
  position:absolute;
  left:543px;
  top:358px;
  width:15px;
  height:15px;
}
#u62 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:8px;
  color:#FFFFFF;
}
#u63 {
  position:absolute;
  left:546px;
  top:361px;
  width:9px;
  height:9px;
  font-size:8px;
  color:#FFFFFF;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
}
#u65 {
  position:absolute;
  left:350px;
  top:294px;
  width:79px;
  height:27px;
}
#u66 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:27px;
}
#u67 {
  position:absolute;
  left:349px;
  top:942px;
  width:79px;
  height:27px;
}
#u68 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:421px;
}
#u69 {
  position:absolute;
  left:1190px;
  top:442px;
  width:81px;
  height:421px;
}
#u70 {
  position:absolute;
  left:2px;
  top:202px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u72 {
  position:absolute;
  left:1220px;
  top:449px;
  width:21px;
  height:21px;
}
#u73 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u74 {
  position:absolute;
  left:1220px;
  top:492px;
  width:21px;
  height:21px;
}
#u75 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u76 {
  position:absolute;
  left:1220px;
  top:533px;
  width:21px;
  height:21px;
}
#u77 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u78 {
  position:absolute;
  left:1220px;
  top:576px;
  width:21px;
  height:21px;
}
#u79 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u80 {
  position:absolute;
  left:1220px;
  top:620px;
  width:21px;
  height:21px;
}
#u81 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u82 {
  position:absolute;
  left:1220px;
  top:663px;
  width:21px;
  height:21px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u84 {
  position:absolute;
  left:1220px;
  top:704px;
  width:21px;
  height:21px;
}
#u85 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u86 {
  position:absolute;
  left:1220px;
  top:747px;
  width:21px;
  height:21px;
}
#u87 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u88 {
  position:absolute;
  left:1220px;
  top:792px;
  width:21px;
  height:21px;
}
#u89 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u90 {
  position:absolute;
  left:1220px;
  top:835px;
  width:21px;
  height:21px;
}
#u91 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:362px;
  height:91px;
}
#u92 {
  position:absolute;
  left:249px;
  top:117px;
  width:362px;
  height:91px;
}
#u93 {
  position:absolute;
  left:2px;
  top:38px;
  width:358px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94_div {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:427px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.00784313725490196);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u94 {
  position:absolute;
  left:1190px;
  top:440px;
  width:81px;
  height:427px;
}
#u95 {
  position:absolute;
  left:2px;
  top:206px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
#u96_div {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u96 {
  position:absolute;
  left:1387px;
  top:643px;
  width:293px;
  height:40px;
  color:#FF0000;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:293px;
  white-space:nowrap;
}
#u98_div {
  position:absolute;
  left:0px;
  top:0px;
  width:467px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.00784313725490196);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u98 {
  position:absolute;
  left:268px;
  top:347px;
  width:467px;
  height:59px;
}
#u99 {
  position:absolute;
  left:2px;
  top:22px;
  width:463px;
  visibility:hidden;
  word-wrap:break-word;
}
#u100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u100 {
  position:absolute;
  left:1372px;
  top:355px;
  width:253px;
  height:80px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  white-space:nowrap;
}
#u102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.00784313725490196);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u102 {
  position:absolute;
  left:1220px;
  top:59px;
  width:154px;
  height:59px;
}
#u103 {
  position:absolute;
  left:2px;
  top:22px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u104 {
  position:absolute;
  left:1518px;
  top:66px;
  width:197px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  white-space:nowrap;
}
#u106 {
  position:absolute;
  left:1374px;
  top:89px;
  width:0px;
  height:0px;
}
#u106_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:130px;
  height:8px;
}
#u106_seg1 {
  position:absolute;
  left:122px;
  top:-7px;
  width:8px;
  height:11px;
}
#u106_seg2 {
  position:absolute;
  left:122px;
  top:-7px;
  width:22px;
  height:8px;
}
#u106_seg3 {
  position:absolute;
  left:124px;
  top:-13px;
  width:21px;
  height:20px;
}
#u107 {
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u108 {
  position:absolute;
  left:735px;
  top:377px;
  width:0px;
  height:0px;
}
#u108_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:474px;
  height:8px;
}
#u108_seg1 {
  position:absolute;
  left:466px;
  top:-4px;
  width:8px;
  height:26px;
}
#u108_seg2 {
  position:absolute;
  left:466px;
  top:14px;
  width:171px;
  height:8px;
}
#u108_seg3 {
  position:absolute;
  left:617px;
  top:8px;
  width:21px;
  height:20px;
}
#u109 {
  position:absolute;
  left:278px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u110 {
  position:absolute;
  left:1271px;
  top:654px;
  width:0px;
  height:0px;
}
#u110_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:103px;
  height:8px;
}
#u110_seg1 {
  position:absolute;
  left:95px;
  top:-4px;
  width:8px;
  height:17px;
}
#u110_seg2 {
  position:absolute;
  left:95px;
  top:5px;
  width:21px;
  height:8px;
}
#u110_seg3 {
  position:absolute;
  left:96px;
  top:-1px;
  width:21px;
  height:20px;
}
#u111 {
  position:absolute;
  left:12px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
