﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1382px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:717px;
}
#u1518 {
  position:absolute;
  left:0px;
  top:0px;
  width:1382px;
  height:717px;
}
#u1519 {
  position:absolute;
  left:2px;
  top:350px;
  width:1378px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:11px;
  height:15px;
}
#u1520 {
  position:absolute;
  left:417px;
  top:343px;
  width:11px;
  height:15px;
}
#u1521 {
  position:absolute;
  left:2px;
  top:0px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1522_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.00784313725490196);
  box-sizing:border-box;
  border-width:3px;
  border-style:solid;
  border-color:rgba(255, 0, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1522 {
  position:absolute;
  left:367px;
  top:308px;
  width:76px;
  height:70px;
}
#u1523 {
  position:absolute;
  left:2px;
  top:27px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1524_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1524 {
  position:absolute;
  left:946px;
  top:333px;
  width:127px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
}
#u1525 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1526 {
  position:absolute;
  left:443px;
  top:343px;
  width:0px;
  height:0px;
}
#u1526_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:507px;
  height:8px;
}
#u1526_seg1 {
  position:absolute;
  left:483px;
  top:-10px;
  width:21px;
  height:20px;
}
#u1527 {
  position:absolute;
  left:202px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
